<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @ticket.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @ticket.longitude %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
